In [45]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/clean_data.csv')

In [3]:
df.head()

             date    home_team ft_score ht_score    away_team
0  Sat Aug 8 2015  Bournemouth      0-1      0-0  Aston Villa
1  Sat Aug 8 2015      Chelsea      2-2      2-1      Swansea
2  Sat Aug 8 2015      Everton      2-2      0-1      Watford
3  Sat Aug 8 2015    Leicester      4-2      3-0   Sunderland
4  Sat Aug 8 2015   Man United      1-0      1-0    Tottenham

New Features:

- winner (*)
- loser (*)
- winner at HT (*)
- loser at HT (*)
- home goals at HT/FT  (*)
- away goals at HT/FT  (*)
- total home goals  (*)
- total away goals  (*)

In [4]:
df.dtypes

date         object
home_team    object
ft_score     object
ht_score     object
away_team    object
dtype: object

In [5]:
df_feature_eng = df.copy()

In [34]:
df_feature_eng['ft_home_goals'] = df_feature_eng['ft_score'].str.extract('(^\d)', expand=True)
df_feature_eng['ft_away_goals'] = df_feature_eng['ft_score'].str.extract('(\d$)', expand=True)
df_feature_eng['ht_home_goals'] = df_feature_eng['ht_score'].str.extract('(^\d)', expand=True)
df_feature_eng['ht_away_goals'] = df_feature_eng['ht_score'].str.extract('(\d$)', expand=True)

In [35]:
df_feature_eng['ft_home_goals']

0       0
1       2
2       2
3       4
4       1
       ..
1803    0
1804    1
1805    4
1806    2
1807    4
Name: ft_home_goals, Length: 1808, dtype: object

In [36]:
df_feature_eng['ft_away_goals']

0       1
1       2
2       2
3       2
4       0
       ..
1803    0
1804    1
1805    0
1806    0
1807    0
Name: ft_away_goals, Length: 1808, dtype: object

In [32]:
df_feature_eng['ht_home_goals']

0       0
1       2
2       0
3       3
4       1
       ..
1803    0
1804    1
1805    2
1806    1
1807    1
Name: ht_home_goals, Length: 1808, dtype: object

In [33]:
df_feature_eng['ht_away_goals']

0       0
1       1
2       1
3       0
4       0
       ..
1803    0
1804    0
1805    0
1806    0
1807    0
Name: ht_away_goals, Length: 1808, dtype: object

In [41]:
numeric_cols = ['ft_home_goals', 'ft_away_goals', 'ht_home_goals', 'ht_away_goals']

for col in numeric_cols:
    df_feature_eng[col] = pd.to_numeric(df_feature_eng[col])

In [42]:
df_feature_eng.dtypes

date                object
home_team           object
ft_score            object
ht_score            object
away_team           object
total_home_goals    object
total_away_goals    object
ht_home_goals        int64
ht_away_goals        int64
ft_home_goals        int64
ft_away_goals        int64
dtype: object

In [49]:
ft_conditions = [df_feature_eng['ft_home_goals'] > df_feature_eng['ft_away_goals'],
              df_feature_eng['ft_home_goals'] < df_feature_eng['ft_away_goals'],
              df_feature_eng['ft_home_goals'] == df_feature_eng['ft_away_goals']]

ft_result = [df_feature_eng['home_team'],
          df_feature_eng['away_team'],
          'Draw']

df_feature_eng['ft_result'] = np.select(ft_conditions, ft_result)

In [50]:
df_feature_eng.head()

,date,home_team,ft_score,ht_score,away_team,total_home_goals,total_away_goals,ht_home_goals,ht_away_goals,ft_home_goals,ft_away_goals,result,ft_result
0,Sat Aug 8 2015,Bournemouth,0-1,0-0,Aston Villa,0,1,0,0,0,1,Aston Villa,Aston Villa
1,Sat Aug 8 2015,Chelsea,2-2,2-1,Swansea,2,2,2,1,2,2,Draw,Draw
2,Sat Aug 8 2015,Everton,2-2,0-1,Watford,2,2,0,1,2,2,Draw,Draw
3,Sat Aug 8 2015,Leicester,4-2,3-0,Sunderland,4,2,3,0,4,2,Leicester,Leicester
4,Sat Aug 8 2015,Man United,1-0,1-0,Tottenham,1,0,1,0,1,0,Man United,Man United

In [51]:
ht_conditions = [df_feature_eng['ht_home_goals'] > df_feature_eng['ht_away_goals'],
              df_feature_eng['ht_home_goals'] < df_feature_eng['ht_away_goals'],
              df_feature_eng['ht_home_goals'] == df_feature_eng['ht_away_goals']]

ht_result = [df_feature_eng['home_team'],
          df_feature_eng['away_team'],
          'Draw']

df_feature_eng['ht_result'] = np.select(ht_conditions, ht_result)

In [52]:
df_feature_eng.head()

,date,home_team,ft_score,ht_score,away_team,total_home_goals,total_away_goals,ht_home_goals,ht_away_goals,ft_home_goals,ft_away_goals,result,ft_result,ht_result
0,Sat Aug 8 2015,Bournemouth,0-1,0-0,Aston Villa,0,1,0,0,0,1,Aston Villa,Aston Villa,Draw
1,Sat Aug 8 2015,Chelsea,2-2,2-1,Swansea,2,2,2,1,2,2,Draw,Draw,Chelsea
2,Sat Aug 8 2015,Everton,2-2,0-1,Watford,2,2,0,1,2,2,Draw,Draw,Watford
3,Sat Aug 8 2015,Leicester,4-2,3-0,Sunderland,4,2,3,0,4,2,Leicester,Leicester,Leicester
4,Sat Aug 8 2015,Man United,1-0,1-0,Tottenham,1,0,1,0,1,0,Man United,Man United,Man United

In [53]:
change_conditions = [df_feature_eng['ft_result'] == df_feature_eng['ht_result'],
                    df_feature_eng['ft_result'] != df_feature_eng['ht_result']]

change_result = [0, 1]

df['result_changed_in_second_half'] = np.select(change_conditions, change_result)

In [54]:
df_feature_eng.head()

,date,home_team,ft_score,ht_score,away_team,total_home_goals,total_away_goals,ht_home_goals,ht_away_goals,ft_home_goals,ft_away_goals,result,ft_result,ht_result
0,Sat Aug 8 2015,Bournemouth,0-1,0-0,Aston Villa,0,1,0,0,0,1,Aston Villa,Aston Villa,Draw
1,Sat Aug 8 2015,Chelsea,2-2,2-1,Swansea,2,2,2,1,2,2,Draw,Draw,Chelsea
2,Sat Aug 8 2015,Everton,2-2,0-1,Watford,2,2,0,1,2,2,Draw,Draw,Watford
3,Sat Aug 8 2015,Leicester,4-2,3-0,Sunderland,4,2,3,0,4,2,Leicester,Leicester,Leicester
4,Sat Aug 8 2015,Man United,1-0,1-0,Tottenham,1,0,1,0,1,0,Man United,Man United,Man United

In [55]:
df_feature_eng.rename(columns = {'ht_home_goals': 'firsthalf_home_goals',
                                'ht_away_goals': 'firsthalf_away_goals',
                                'ht_result': 'firsthalf_result'}, inplace=True)

In [56]:
df_feature_eng.head()

,date,home_team,ft_score,ht_score,away_team,total_home_goals,total_away_goals,firsthalf_home_goals,firsthalf_away_goals,ft_home_goals,ft_away_goals,result,ft_result,firsthalf_result
0,Sat Aug 8 2015,Bournemouth,0-1,0-0,Aston Villa,0,1,0,0,0,1,Aston Villa,Aston Villa,Draw
1,Sat Aug 8 2015,Chelsea,2-2,2-1,Swansea,2,2,2,1,2,2,Draw,Draw,Chelsea
2,Sat Aug 8 2015,Everton,2-2,0-1,Watford,2,2,0,1,2,2,Draw,Draw,Watford
3,Sat Aug 8 2015,Leicester,4-2,3-0,Sunderland,4,2,3,0,4,2,Leicester,Leicester,Leicester
4,Sat Aug 8 2015,Man United,1-0,1-0,Tottenham,1,0,1,0,1,0,Man United,Man United,Man United

In [58]:
df_feature_eng.dtypes

date                    object
home_team               object
ft_score                object
ht_score                object
away_team               object
total_home_goals        object
total_away_goals        object
firsthalf_home_goals     int64
firsthalf_away_goals     int64
ft_home_goals            int64
ft_away_goals            int64
result                  object
ft_result               object
firsthalf_result        object
dtype: object

In [59]:
df_feature_eng['secondhalf_home_goals'] = df_feature_eng['ft_home_goals'] - df_feature_eng['firsthalf_home_goals']
df_feature_eng['secondhalf_away_goals'] = df_feature_eng['ft_away_goals'] - df_feature_eng['firsthalf_away_goals']

In [60]:
secondhalf_conditions = [df_feature_eng['secondhalf_home_goals'] > df_feature_eng['secondhalf_away_goals'],
              df_feature_eng['secondhalf_home_goals'] < df_feature_eng['secondhalf_away_goals'],
              df_feature_eng['secondhalf_home_goals'] == df_feature_eng['secondhalf_away_goals']]

secondhalf_result = [df_feature_eng['home_team'],
          df_feature_eng['away_team'],
          'Draw']

df_feature_eng['secondhalf_result'] = np.select(secondhalf_conditions, secondhalf_result)

In [61]:
df_feature_eng

,date,home_team,ft_score,ht_score,away_team,total_home_goals,total_away_goals,firsthalf_home_goals,firsthalf_away_goals,ft_home_goals,ft_away_goals,result,ft_result,firsthalf_result,secondhalf_home_goals,secondhalf_away_goals,secondhalf_result
0,Sat Aug 8 2015,Bournemouth,0-1,0-0,Aston Villa,0,1,0,0,0,1,Aston Villa,Aston Villa,Draw,0,1,Aston Villa
1,Sat Aug 8 2015,Chelsea,2-2,2-1,Swansea,2,2,2,1,2,2,Draw,Draw,Chelsea,0,1,Swansea
2,Sat Aug 8 2015,Everton,2-2,0-1,Watford,2,2,0,1,2,2,Draw,Draw,Watford,2,1,Everton
3,Sat Aug 8 2015,Leicester,4-2,3-0,Sunderland,4,2,3,0,4,2,Leicester,Leicester,Leicester,1,2,Sunderland
4,Sat Aug 8 2015,Man United,1-0,1-0,Tottenham,1,0,1,0,1,0,Man United,Man United,Man United,0,0,Draw
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1803,Sat Mar 7 2020,Wolves,0-0,0-0,Brighton,0,0,0,0,0,0,Draw,Draw,Draw,0,0,Draw
1804,Sat Mar 7 2020,Burnley,1-1,1-0,Tottenham,1,1,1,0,1,1,Draw,Draw,Burnley,0,1,Tottenham
1805,Sun Mar 8 2020,Chelsea,4-0,2-0,Everton,4,0,2,0,4,0,Chelsea,Chelsea,Chelsea,2,0,Chelsea
1806,Sun Mar 8 2020,Man United,2-0,1-0,Man City,2,0,1,0,2,0,Man United,Man United,Man United,1,0,Man United
1807,Mon Mar 9 2020,Leicester,4-0,1-0,Aston Villa,4,0,1,0,4,0,Leicester,Leicester,Leicester,3,0,Leicester

In [62]:
df_feature_eng.dtypes

date                     object
home_team                object
ft_score                 object
ht_score                 object
away_team                object
total_home_goals         object
total_away_goals         object
firsthalf_home_goals      int64
firsthalf_away_goals      int64
ft_home_goals             int64
ft_away_goals             int64
result                   object
ft_result                object
firsthalf_result         object
secondhalf_home_goals     int64
secondhalf_away_goals     int64
secondhalf_result        object
dtype: object

In [63]:
df_final = df_feature_eng.drop(columns=['total_home_goals', 'total_away_goals', 'ft_result'])

In [64]:
df_final.dtypes

date                     object
home_team                object
ft_score                 object
ht_score                 object
away_team                object
firsthalf_home_goals      int64
firsthalf_away_goals      int64
ft_home_goals             int64
ft_away_goals             int64
result                   object
firsthalf_result         object
secondhalf_home_goals     int64
secondhalf_away_goals     int64
secondhalf_result        object
dtype: object

In [65]:
df_final.rename(columns = {'ft_home_goals': 'total_home_goals',
                          'ft_away_goals': 'total_away_goals'}, inplace=True)

In [68]:
cols = df_final.columns.to_list()
cols

['date',
 'home_team',
 'ft_score',
 'ht_score',
 'away_team',
 'firsthalf_home_goals',
 'firsthalf_away_goals',
 'total_home_goals',
 'total_away_goals',
 'result',
 'firsthalf_result',
 'secondhalf_home_goals',
 'secondhalf_away_goals',
 'secondhalf_result']

In [69]:
len(cols)

14

In [70]:
new_cols = ['date',
            'home_team',
            'away_team',
            'ht_score',
            'ft_score',
            'firsthalf_home_goals',
            'firsthalf_away_goals',
           'secondhalf_home_goals',
           'secondhalf_away_goals',
           'total_home_goals',
            'total_away_goals',
           'firsthalf_result',
           'secondhalf_result',
           'result']

In [71]:
len(new_cols)

14

In [72]:
df_new_cols = df_final[new_cols]

In [73]:
df_new_cols

,date,home_team,away_team,ht_score,ft_score,firsthalf_home_goals,firsthalf_away_goals,secondhalf_home_goals,secondhalf_away_goals,total_home_goals,total_away_goals,firsthalf_result,secondhalf_result,result
0,Sat Aug 8 2015,Bournemouth,Aston Villa,0-0,0-1,0,0,0,1,0,1,Draw,Aston Villa,Aston Villa
1,Sat Aug 8 2015,Chelsea,Swansea,2-1,2-2,2,1,0,1,2,2,Chelsea,Swansea,Draw
2,Sat Aug 8 2015,Everton,Watford,0-1,2-2,0,1,2,1,2,2,Watford,Everton,Draw
3,Sat Aug 8 2015,Leicester,Sunderland,3-0,4-2,3,0,1,2,4,2,Leicester,Sunderland,Leicester
4,Sat Aug 8 2015,Man United,Tottenham,1-0,1-0,1,0,0,0,1,0,Man United,Draw,Man United
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1803,Sat Mar 7 2020,Wolves,Brighton,0-0,0-0,0,0,0,0,0,0,Draw,Draw,Draw
1804,Sat Mar 7 2020,Burnley,Tottenham,1-0,1-1,1,0,0,1,1,1,Burnley,Tottenham,Draw
1805,Sun Mar 8 2020,Chelsea,Everton,2-0,4-0,2,0,2,0,4,0,Chelsea,Chelsea,Chelsea
1806,Sun Mar 8 2020,Man United,Man City,1-0,2-0,1,0,1,0,2,0,Man United,Man United,Man United
1807,Mon Mar 9 2020,Leicester,Aston Villa,1-0,4-0,1,0,3,0,4,0,Leicester,Leicester,Leicester

In [74]:
df_new_cols.to_csv('../data/feature_eng_data.csv', index=False)